body {
  font-family: "Roboto", "Arial", "sans-serif";
}

* {
  border: 1px solid #ccc;
}

#app {
  width: 400px;
  height: 500px;
  border: 1px solid blue;
}

#bookmark-list {
  
  margin: 0;
  padding: 5px;
  width: 395px;
  

}